:root {
  --cream: #f0e3ca;
  --naranja: #fa7d09;
  --marron: #a35709;
  --marron-oscuro: #4a3f35;
  --negro: #1b1a17;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Padauk:wght@700&display=swap");

html {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 10px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  /* padding: 0;
  margin: 0; */
}

body {
  background: rgb(27, 26, 23);
  background: linear-gradient(
    180deg,
    rgba(27, 26, 23, 1) 0%,
    rgba(163, 87, 9, 1) 30%,
    rgba(218, 105, 0, 1) 50%,
    rgba(163, 87, 9, 1) 70%,
    rgba(27, 26, 23, 1) 100%
  );
  min-height: calc(100vh - 100px);
  background-attachment: fixed;
  letter-spacing: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
  color: white;
}

p {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}
